<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login - Controle de Chamados</title>
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container" style="max-width: 400px;">
        <img src="/static/logo_unbug.png" alt="Logo Unbug Solutions TI" class="logo-unbug">
        <h1>Login</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <form method="post" class="form-chamado">
            <input type="text" name="username" placeholder="Usuário" required><br>
            <input type="password" name="password" placeholder="Senha" required><br>
            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>
